.navbar-logo {
  height: 50px;
  /* Adjust the height to match your design */
}

.navbar-nav .nav-link {
  color: white;
  font-size: 16px;
  /* Adjust the font size to match your design */
}

.navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
  /* Adjust the spacing between the menu items */
}

.navbar .btn-success {
  margin-right: 20px;
  font-size: 16px;
  /* Adjust the size and margin for the button */
}

.bg-dark {
}

.hero-section {
  background-color: #34495e;
  padding: 100px 50px;
}

.hero-section h1,
.hero-section h2 {
  font-weight: bold;
}

.hero-section .text-success {
  color: #28a745 !important;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.btn-outline-light {
  border-color: white;
  color: white;
}

.btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0);
  color: black;
}
